
.DS_Store

Walid.xcodeproj/project.xcworkspace/xcuserdata/lego399.xcuserdatad/UserInterfaceState.xcuserstate

build/
Walid.xcodeproj/project.xcworkspace/xcuserdata/emmikkelsen.xcuserdatad/UserInterfaceState.xcuserstate

Walid.xcodeproj/project.xcworkspace/xcuserdata/emmikkelsen.xcuserdatad/UserInterfaceState.xcuserstate
